<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Matchup Details</h1>

        <p>Date: {{ matchup.date }}</p>
        <p>Home Team: {{ matchup.home_team }}</p>
        <p>Away Team: {{ matchup.away_team }}</p>
        <p>Home Team Score: {{ matchup.home_team_score }}</p>
        <p>Away Team Score: {{ matchup.away_team_score }}</p>

    </body>
</html>