{% extends '..\templates\league\base.html' %}

{% block title %}{{ matchup.away_team.short_name }} vs. {{ matchup.home_team.short_name }}{% endblock %}

{% block content %}
        <h1><a href="{% url 'league:team_detail' matchup.away_team.id %}">{{ matchup.away_team }}</a> vs. <a href="{% url 'league:team_detail' matchup.home_team.id %}">{{ matchup.home_team }}</a></h1>

        <p>Date: {{ matchup.date }}</p>
        <p>Score: {{ matchup.away_team_score }} - {{ matchup.home_team_score }}</p>
{% endblock %}