{% extends '..\templates\league\base.html' %}

{% block title %}Standings{% endblock %}

{% block content %}

    <h1>Standings</h1>

    <table>
        <thead>
            <tr>
                <th>Team</th>
                <th>Points</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>OT Losses</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>
                <td><a href="{% url 'league:team_detail' team.id %}">{{ team.team_name }}</a></td>
                <td>{{ team.points }}</td>
                <td>{{ team.win_count }}</td>
                <td>{{ team.loss_count }}</td>
                <td>{{ team.ot_loss_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}