<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Standings</title>
    </head>
    <body>
        <h1>Standings</h1>

        <table>
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Win Count</th>
                    <th>Loss Count</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr>
                    <td>{{ team.team_name }}</td>
                    <td>{{ team.win_count }}</td>
                    <td>{{ team.loss_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </body>
</html>