<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Team Details</h1>

        <p>Team Name: {{ team.team_name }}</p>
        <p>Short Name: {{ team.short_name }}</p>
        <!--<p>Logo: <img src="{{ team.logo.url }}" alt="{{ team.team_name }} Logo"></p>-->
        <p>Win Count: {{ team.win_count }}</p>
        <p>Loss Count: {{ team.loss_count }}</p>

    </body>
</html>