{% extends '..\templates\league\base.html' %} 

{% block title%}{{team.team_name}}{% endblock %} 

{% block content %}

<h1>{{ team.team_name }}</h1>
<p>{{ team.win_count }} - {{ team.loss_count }}</p>

<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a href="#stats" class="nav-link active" data-bs-toggle="tab">Stats</a>
    </li>
    <li class="nav-item">
        <a href="#roster" class="nav-link" data-bs-toggle="tab">Roster</a>
    </li>
    <li class="nav-item">
        <a href="#schedule" class="nav-link" data-bs-toggle="tab">Schedule</a>
    </li>
</ul>

<div class="tab-content">

    <div class="tab-pane fade show active" id="stats">
        <p>There are no stats for {{ team.team_name }} at this time...</p>
    </div>

    <div class="tab-pane fade" id="roster">
        {% if players %}
        <ul>
            {% for player in players %}
            <li>{{ player.player_name }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no players for {{ team.team_name }} at this time...</p>
        {% endif %}
    </div>

    <div class="tab-pane fade" id="schedule">
        {% for week in weeks %}
            <h4>Week {{ week }}</h4>
            <div class="row row-cols-1 row-cols-md-3 g-4 mx-auto">            
                {% if matchups %}
                    {% for matchup in matchups %}
                        {% if week is matchup.week %}
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <strong><p class="card-title text-center">
                                        <a href="{% url 'league:team_detail' matchup.away_team.id %}">{{ matchup.away_team }}</a> vs <a href="{% url 'league:team_detail' matchup.home_team.id %}">{{ matchup.home_team }}</a></p></strong>
                                    <p class="card-text text-center">Score: {{ matchup.away_team_score }} - {{ matchup.home_team_score }}</p>
                                    
                                </div>
                                <div class='card-footer text-center'><a href="{% url 'league:matchup_detail' matchup.id %}" class="btn btn-light">View Matchup</a></div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>Sorry, the league schedule is not available at this time...</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
